<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>

        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* text in span */

        paragraph {
            padding-bottom: 4px;
        }

        /* subtitles style */

        div.background {
            background-color: #cd171a;
        }

        h3.subtitle {
            color: white;
            padding: 4px 0 12px 4px;
        }

        /* text in paragraph */
        span.paragraph {
            padding-bottom: 4px;
        }

        /* bullets */
        span.bullet {
            padding: 0 10px 4px 10px;
        }

        /* tabs */
        span.left-tab-m {
            padding-left: 20px;
        }

        span.left-tab-xxl {
            padding-left: 20%;
        }

        /* gaps */

        div.gap-m {
            padding-bottom: 12px;
        }

        /**
         * Specific Elements
         */

        #page-header {
            text-align: right;
        }
        #page-footer{
            text-align: right;
        }

        @page {
            size: letter; /*letter landscape*/
            background: white;

            @top-center {
                content: element(current);
            }

            @bottom-right {
                content: element(footer);
            }
        }

        table {-fs-table-paginate: paginate;page-break-inside: avoid;}

        span.page:before { content: counter(page); }
        span.pagecount:before { content: counter(pages); }

    </style>
</head>
<body style="font-family: Arial">
    <div style="position: running(current);">
        <div id="logo" class="media" data-src="Logo" style="width: 100%; height: 100%" />
    </div>

    <div style="position: running(footer);">
        <div id="page-footer">
            Seite <span class="page" style="color: lightgray"/> von <span class="pagecount" />
        </div>
    </div>
    <h1 style="color: #cd171a; padding-bottom: 24px">Kundenvertrag SBB Green Class</h1>
    <img src="Logo.png" width="187" height="21"></img>
    <div class="row">
        <div class="column">
            <p style="font-weight: bold; padding-bottom: 24px">zwischen</p>

            <span>den Schweizerischen Bundesbahnen</span>
            <br></br>

            <span>Parkterrasse 14</span>
            <br></br>

            <span>3000 Bern 65</span>
            <br style="padding-bottom: 24px"></br>

            <p style="padding-bottom: 24px">(nachstehend "SBB")</p>
        </div>
        <div class="column">
            <p style="font-weight: bold; padding-bottom: 24px">und</p>

            <span th:text="${givenName} ">givenName name</span>
            <span th:text="${name}">name</span>
            <br></br>

            <span th:text="${street} ">street </span>
            <span th:text="${streetNumber}">streetNumber</span>
            <br></br>

            <span th:text="${postalCode} ">postalCode </span>
            <span th:text="${town}">town</span>
            <br style="padding-bottom: 24px"></br>

            <p style="padding-bottom: 24px">(nachstehend "Kunde")</p>
        </div>
    </div>

    <div class="background">
        <h3 class="subtitle">Vorbemerkungen.</h3>
    </div>


    <span class="paragraph">
        Das Mobilitätskombi SBB Green Class beinhaltet Leistungen der SBB und Leistungen von Partnern. Als Partner
        gelten Dritte, die Leistungen des Mobilitätskombis erbringen und deren Allgemeinen Geschäftsbedingungen (AGB) der Kunde
        nachstehend akzeptieren muss, um das Leistungspaket zu erwerben. Die SBB tritt für die von den Partnern erbrachten
        Leistungen als Abschlussagentin auf. Der Kunde erklärt sich explizit einverstanden, dass er durch die nachstehenden
        Vertragsbestimmungen gegenüber den Partnern nicht nur berechtigt, sondern auch verpflichtet ist.
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Der Kunde hat im Bestellportal die konkreten Inhalte des Mobilitätskombis mit der entsprechenden Zahlungsvariante
        verbindlich ausgewählt. Das ausgewählte Mobilitätskombi ist ein unveränderliches Leistungspaket, basierend auf festen
        Preiskalkulationen der SBB und von Partnern. Das fixe Leistungspaket kann nachträglich weder erweitert noch verringert
        werden.
    </span>
    <div class="gap-m"></div>


    <div class="background">
        <h3 class="subtitle">Vertragsabschluss und Vertragsdauer.</h3>
    </div>

    <span class="paragraph">
        Der Kunde akzeptiert den vorliegenden Kundenvertrag mit dem Abschluss des Bestellprozesses durch Klick auf „Jetzt
        verbindlich bestellen“. Mit Zusage der SBB gilt der Kundenvertrag als gegenseitig abgeschlossen. Die Parteien vereinbaren
        für das Mobilitätskombi eine feste
    </span>
    <span class="paragraph" th:text=" ${contractDuration}">contractDuration</span>
    <span class="paragraph">–monatige Dauer. Vertragsbeginn ist am </span>
    <span class="paragraph" th:text="${startDate}">startDate</span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Sämtliche mit dem Mobilitätskombi verbundenen Abonnemente laufen nach der Vertragsdauer aus und werden nicht
        automatisch erneuert. Der Vertrag kann nur aus wichtigen Gründen gekündigt werden. Als wichtige Gründe gelten die
        Unzumutbarkeit der Nutzung des Mobilitätskombis durch den Kunden (etwa infolge Krankheit, Unfall, Wegzug ins Ausland)
        bzw. die Unzumutbarkeit der Zurverfügungstellung des Mobilitätskombis (etwa infolge Zahlungsrückstand oder Verletzung
        von Gesetzesvorschriften).
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Sollte der Kunde nach verbindlichem Abschluss des Bestellprozesses, jedoch vor der Zusage der SBB vom Vertrag
        zurücktreten, so kann die SBB dem Kunden den daraus entstanden Aufwand bis maximal CHF 500.– (inkl. gesetzlich
        geschuldeter MWST) in Rechnung stellen.
    </span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Mobilitätskombi SBB Green Class.</h3>
    </div>

    <span class="paragraph">Das Mobilitätskombi </span>
    <span class="paragraph" th:text=" ${bundleType}"> bundleType</span>
    <span class="paragraph"> enthält folgende Leistungen:</span>
    <div class="gap-m"></div>

    <span class="bullet"> - </span> <span class="paragraph" th:text="${publicTransport}">publicTransport</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${eCar}">eCar</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${wallbox}">wallbax</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${parking}">parking</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${complementaryMobilityCarsharing}">complementaryMobilityCarsharing></span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${complementaryMobilityBikesharing}">complementaryMobilityBikesharing</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${complementaryMobilityTaxi}">complementaryMobilityTaxi</span>
    <br></br>
    <span class="bullet"> - </span> <span class="paragraph" th:text="${careless}">careless</span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Übergabezeitpunkte und Orte.</h3>
    </div>

    <span class="paragraph">Das </span> <span class="paragraph" th:text="${publicTransport} ">publicTransport </span>
    <span class="paragraph">wird auf eine SwissPass Karte geladen. Diese wird dem Kunden separat bis spätestens </span>
    <span class="paragraph" th:text="${startDateMinusOne}">startDateMinusOne </span>
    <span class="paragraph">nach Hause geschickt. Sofern der Kunde bereits über einen SwissPass verfügt, wird das </span>
    <span class="paragraph" th:text="${publicTransport} ">publicTransport </span>
    <span class="paragraph">auf dem bereits vorhandenen SwissPass des Kunden bis spätestens am </span>
    <span class="paragraph" th:text="${startDateMinusOne} ">startDateMinusOne </span>
    <span class="paragraph">automatisch aktiviert.</span>
    <div class="gap-m"></div>

    <span class="paragraph">Die Übergabe des Fahrzeuges findet am per E-Mail bestätigten Übergabetermin und Übergabeort statt. Die Rückgabe erfolgt
        gemäss den AGB des Fahrzeuglieferanten bis spätestens 365 Tage nach der Übergabe.
    </span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Preis und Rechnungsstellung.</h3>
    </div>

    <span class="paragraph">Preisübersicht gemäss Bestellung (alle Beträge inkl. der gesetzlich geschuldeten MWST):</span>
    <div class="gap-m"></div>

    <span class="bullet">1.</span><span class="paragraph">Mobilitätskombi:</span><span class="left-tab-m">CHF</span><span class="paragraph" th:text="${monthlyPrice}">monthlyPrice</span><span class="paragraph">.– / Monat</span>
    <br></br>
    <span class="bullet">2.</span><span class="paragraph">Heimladestation:</span><span class="left-tab-m">CHF</span><span class="paragraph" th:text="${priceWallbox}">priceWallBox</span><span class="paragraph">.– einmalig</span>
    <div class="gap-m"></div>

    <span class="paragraph">Gewählter Zahlungsmodus:      </span><span class="paragraph" th:text="${paymentMode}">paymentMode</span>
    <div class="gap-m"></div>

    <span class="paragraph">Die SBB stellt dem Kunden wie folgt Rechnung:</span>
    <div class="gap-m"></div>

    <span class="bullet">&#8226;</span><span class="paragraph">Anzahlung (zahlbar innert 10 Tagen): Drei Monatsraten à CHF</span><span class="paragraph" th:text="${monthlyPirce}">monthlyPrice</span><span class="paragraph">.–</span>
    <br></br>
    <span class="left-tab-xxl">25 % des Kaufpreises der Heimladestation</span>
    <br></br>

    <span class="bullet">&#8226;</span><span class="paragraph">Restzahlungen (zahlbar innert 30 Tagen):   </span><span class="paragraph">Heimladestation abzgl. Anzahlung nach</span>
    <br></br>
    <span class="left-tab-xxl">erfolgter Installation Raten Mobilitätskombi gemäss Zahlungsmodus</span>
    <div class="gap-m"></div>

    <span class="paragraph">Der detaillierte Zahlungsplan kann der Bestellbestätigung entnommen werden.</span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Im Mobilitätskombi nicht enthaltene Zusatzleistungen wie z.B. Mehrkilometer E-Car, Mehrfahrten Mobility können direkt
        vom Partner in Rechnung gestellt werden. Der Kunde ist einverstanden, dass das Inkasso für allfällige Zusatzleistungen
        sowie Nachforderungen des Partners direkt durch die Partner erfolgen kann.
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Der Kunde verpflichtet sich mit Abschluss des Vertrages zur fristgerechten Bezahlung sämtlicher Rechnungen, ansonsten
        gerät er ohne Mahnung in Verzug. Wird er mit einer Mahnung aufgrund eines Zahlungsverzugs von der SBB zur Zahlung
        aufgefordert, werden ihm CHF 15.– in Rechnung gestellt. Im Inkassofall können zusätzlich ein effektiver Jahreszins von bis
        zu fünf Prozent ab Fälligkeitsdatum sowie Bearbeitungsgebühren anfallen. Die SBB wird die offenen Beträge in eigenem
        Namen geltend machen. Sie kann die Forderungen jedoch auch an externe Partner abtreten.
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Wird die offene Forderung durch den Kunden trotz Mahnung nicht beglichen, können die SBB und deren Partner nach einer
        Frist von 30 Tagen (nach Fälligkeit) sämtliche Leistungen einstellen. Dies umfasst insbesondere auch die Sperrung des GA
        sowie die Rücknahme sämtlicher zum Gebrauch überlassenen Sachen.
    </span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Pflichten des Kunden.</h3>
    </div>

    <span class="paragraph">
        Der Kunde ist verpflichtet, sämtliche Änderungen der beim Vertragsabschluss gemachten persönlichen Angaben innert 15
        Tagen der SBB bekannt zu geben.
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Der Kunde ist einverstanden, dass er durch die AGB gegenüber den Partnern berechtigt und verpflichtet wird.
    </span>
    <div class="gap-m"></div>

    <span class="paragraph">
        Nachfolgende AGB hat der Kunde im Bestellprozess akzeptiert:
    </span>
    <div class="gap-m"></div>

    <span class="bullet">&#175;</span><span class="paragraph">AGB für Generalabonnements SBB;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB betreffend Fahrzeug BMWi3 mit Alphabet;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB P+Rail;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB PubliBike;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB Mobility;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB yourmile;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB Swisscharge;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AGB Alpiq;</span>
    <br></br>
    <span class="bullet">&#175;</span><span class="paragraph">AVB AWP P&#38;C S.A. (Schweiz).</span>
    <br></br>
    <div class="gap-m"></div>

    <span class="paragraph">
        Die AGB können jederzeit angepasst werden. Der Kunde wird per Email vorgängig über die Änderungen der AGB der SBB
        und ihren Partnern informiert.
    </span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Datenschutz.</h3>
    </div>

    <span class="paragraph">
        Die SBB nimmt den Datenschutz ernst und hält sich im Umgang mit Personen- und Kundendaten an das Schweizerische
        Datenschutzgesetz. Unberechtigte Personen haben keinen Zugriff auf die Kundendaten. Die SBB ist berechtigt, die im
        Rahmen des Bestellprozesses erhobenen Daten zu erfassen und zu bearbeiten resp. durch Partner bearbeiten zu lassen. Alle
        datenempfangenden und -bearbeitenden Stellen verpflichten sich zur Einhaltung des Schweizer Datenschutzgesetzes. Details
        sind in der «Datenschutzerklärung» ausgeführt, wobei jeweils die Datenschutzbestimmun-gen der Partner gelten, von welchen
        der Kunde gemäss vorliegendem Vertrag Leistungen in Anspruch nimmt.
    </span>
    <div class="gap-m"></div>

    <div class="background">
        <h3 class="subtitle">Gerichtsstand und anwendbares Recht.</h3>
    </div>

    <span class="paragraph">
        Gerichtsstand für alle im Zusammenhang mit diesem Vertrag stehenden Streitigkeiten ist – soweit nicht durch das
        Zivilprozessrecht zwingend anders geregelt – Bern. Anwendung findet ausschliesslich schweizerisches Recht.
    </span>

    <div class="background">
        <h3 class="subtitle">Anhang</h3>
    </div>

    <span class="paragraph">
        Datenschutzerklärung vom 26.03.2018.
    </span>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <span class="paragraph">Diesem Kundenvertrag wurde am </span><span class="paragraph" th:text="${systemDate} ">systemDate </span><span class="paragraph">durch den Kunden zugestimmt.</span>
</body>
</html>